body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}
#maze-container {
    position: relative;
    width: 80vmin;
    height: 45vmin;
    border: 2px solid black;
}
#Score {
    position: absolute;
    top: 20vmin;
    font-size: x-large;
}
.cell {
    box-sizing: border-box;
    position: absolute;
    width: 5vmin;
    height: 5vmin;
    border: none;
    background-image:url("Images/Hallway.png");
    background-size:contain;
    background-color: transparent;
}
.wall {
    background-image:url("Images/Wall.png");
    background-size:contain;
    background-color: transparent;
}
.fog {
    background-image:url("Images/Fog.png");
    background-size:contain;
    background-color: transparent;
}
.start {
    background-color: rgba(0, 128, 0, 0.5);
}
.end {
    background-color: rgba(255, 0, 0, 0.5);
}
.player {
    transition: top 0.3s ease, left 0.3s ease;
    background-image:url("Images/PixelMan.png");
    background-size:contain;
    background-color: transparent;
}