body{
    align-items: center;
    background-color: lightgray;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#linesContainer, #board, #gameOver, #restartButton, #numberContainer, #score, #nextPiece, #level{
    position: relative;
}

#linesContainer, #gameOverContainer, #restartButton, #numberContainer, #score, #nextPiece, #level{
    font-size: 26px;
}

#linesContainer{
    bottom: 230px;
    left: 135px;
}

#board{
    border: 2px solid blue;
    right: 25px;
}

#gameOverContainer{
    position: absolute;
}

#gameOver{
    color: white;
    font-weight: bold;
    right: 10px;
}

#restartButton{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: bold;
    left: 5px;
}

#numberContainer{
    left: 20px;
}

#score{
    left: 24px;
}

#nextPiece{
    left: 20px;
}

#level{
    left: 24px;
}