body{
    align-items: center;
    background-color: lightgray;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#linesContainer, #board, #topScoreContainer, #scoreContainer, #nextPieceContainer, #levelContainer, #level, #gameOver, #restartButton{
    position: relative;
}

#linesContainer, #topScoreContainer, #scoreContainer, #nextPieceContainer, #levelContainer, #gameOverContainer{
    font-size: 26px;
}

#linesContainer{
    bottom: 230px;
    left: 205px;
}

#board{
    border: 2px solid blue;
    left: 45px;
}

#topScoreContainer{
    bottom: 180px;
    left: 78px;
}

#scoreContainer{
    bottom: 112px;
    left: 38px;
}

#nextPieceContainer{
    bottom: 8px;
    right: 22px;
}

#levelContainer{
    top: 80px;
    right: 72px;
}

#level{
    left: 20px;
}

#gameOverContainer{
    position: absolute;
}

#gameOver{
    color: white;
    right: 10px;
}

#restartButton{
    left: 20px;
}