body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(10, 83, 151)
}
#maze-container {
    position: relative;
    width: 80vmin;
    height: 45vmin;
    border: 2px solid black;
}
#Score {
    position: absolute;
    top: 20vmin;
    font-size: x-large;
}
#Time {
    position: absolute;
    top: 20vmin;
    right: 65vmin;
    font-size: x-large;
}
#GameOver {
    display: none;
    position: absolute;
    z-index: 10;
    top:40%;
    left:40%;
    padding-top:5px;
    font-size: x-large;
    width: 40vmin;
    height: 20vmin;
    background-color: rgb(220, 220, 220);
    border-radius: 2vmin;
    border: rgb(100, 100, 100) 2px solid;
    text-align: center;
}
#GameOver button {
    
    position: absolute;
    top:40%;
    left:30%;
    font-size: xx-large;
}
.cell {
    box-sizing: border-box;
    position: absolute;
    width: 5vmin;
    height: 5vmin;
    border: none;
    background-image:url("Images/Hallway.png");
    background-size:contain;
    background-color: transparent;
}
.wall {
    background-image:url("Images/Wall.png");
    background-size:contain;
    background-color: transparent;
}
.revealer {
    background-image:url("Images/Revealer.png");
    background-size:contain;
    background-color: transparent;
}
.fog {
    background-image:url("Images/Fog.png");
    background-size:contain;
    background-color: transparent;
}
.start {
    background-image:url("Images/Start.png");
    background-size:contain;
    background-color: transparent;
}
.end {
    background-image:url("Images/End.png");
    background-size:contain;
    background-color: transparent;
}

.player {
    transition: top 0.3s ease, left 0.3s ease;
    background-image:url("Images/PixelMan.png");
    background-size:contain;
    background-color: transparent;
}