* {
    box-sizing: border-box;
    color: aliceblue;
}

.mySlides {
    display: none;
    background-color: rgb(130, 130, 130);
}

img {
    vertical-align: middle;
    width: 100%;
    height: 200px;
    background-size: contain;
}

a img {
    margin-left: 20px;
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 100vh;
    position: relative;
    flex-direction: column;
    background-color: rgb(10, 83, 151)
}

a {
    margin: 0;
    justify-content: center;
    text-decoration: none;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SlideShow {
    height: 220px;
}

.SlideShow a{
    background-color: rgb(234, 212, 41);
}
.prev,
.next {
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 220px;
    padding: 100px 16px;
    color: white;
    background-color: rgb(234, 212, 41);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    border-radius: 0 5px 5px 0;
    top: -440px;
    left: 375px;
}

.prev {
    border-radius: 5px 0 0 5px;
    top: -220px;
    left: -50px;
}

.prev:hover,
.next:hover {
    background-color: rgb(25, 30, 168);
}

.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.navigation {
    display: grid;
    grid-template-columns: 1.5fr 15fr 1fr 1.2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    width: 100vw;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    list-style: none;
    font-size: 22px;
    background-color: rgb(206, 200, 28);
}

.navigation li {
    background-color: rgb(206, 200, 28);
    display: flex;
    justify-content: end;
    padding-right: 5px;
    align-items: start;
    padding-top: 1vh;
    margin-bottom: 1vh;
    height: 50px;
}

.navigation .home {
    justify-content: start;
}

.navigation .search {
    padding-top: 0.5vh;
}

.navigation input {
    border-radius: 10vh;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.container {
    max-width: 400px;
}

#searchInput {
    width: 100%;
    padding: 10px;
}

#resultsList {
    list-style-type: none;
    padding: 3px;
    border-radius: 20px;
    background-color: rgb(186, 181, 25);
    margin: 0;
}

#resultsList li {
    padding: 10px;
    background-color: rgb(206, 200, 28);
    justify-content: center;
    margin: 2px;
    border-radius: 25px;
}

.ScoresContainer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1vh;
    background-color: #161bb3;
    border: #0c0c8a 5px solid;
    border-radius: 3vh;
    width: 40%;
}